# Task Special ç»¼åˆç»ƒä¹

In [1]:
import pandas as pd
import numpy as np

## ä»»åŠ¡ä¸€ ä¼ä¸šæ”¶å…¥çš„å¤šæ ·æ€§

ã€é¢˜ç›®æè¿°ã€‘  
ä¸€ä¸ªä¼ä¸šçš„äº§ä¸šæ”¶å…¥å¤šæ ·æ€§å¯ä»¥ä»¿ç…§ä¿¡æ¯ç†µçš„æ¦‚å¿µæ¥å®šä¹‰æ”¶å…¥ç†µæŒ‡æ ‡ï¼š$$I=-\sum_{i}p(x_i)\log(p(x_i))$$
å…¶ä¸­$p(x_i)$æ˜¯ä¼ä¸šè¯¥å¹´æŸäº§ä¸šæ”¶å…¥é¢å è¯¥å¹´æ‰€æœ‰äº§ä¸šæ€»æ”¶å…¥çš„æ¯”é‡ã€‚åœ¨`company.csv`ä¸­å­˜æœ‰éœ€è¦è®¡ç®—çš„ä¼ä¸šå’Œå¹´ä»½ï¼Œåœ¨`company_data.csv`ä¸­å­˜æœ‰ä¼ä¸šã€å„ç±»æ”¶å…¥é¢å’Œæ”¶å…¥å¹´ä»½çš„ä¿¡æ¯ã€‚ç°è¯·åˆ©ç”¨åä¸€å¼ è¡¨ä¸­çš„æ•°æ®ï¼Œåœ¨å‰ä¸€å¼ è¡¨ä¸­å¢åŠ ä¸€åˆ—è¡¨ç¤ºè¯¥å…¬å¸è¯¥å¹´ä»½çš„æ”¶å…¥ç†µæŒ‡æ ‡$I$ã€‚

ã€æ•°æ®ä¸‹è½½ã€‘  
é“¾æ¥ï¼šhttps://pan.baidu.com/s/1leZZctxMUSW55kZY5WwgIw   
å¯†ç ï¼šu6fd

**è§£ç­”ï¼š**

In [2]:
# è¯»å–Company.csvæ•°æ®
company = pd.read_csv('../data/task_special/task01/Company.csv')
company.columns = ['Code', 'Date']
company.head()

      Code  Date
0  #000007  2014
1  #000403  2015
2  #000408  2016
3  #000408  2017
4  #000426  2015

In [3]:
# è¯»å–Company_data.csvæ•°æ®
company_data = pd.read_csv('../data/task_special/task01/Company_data.csv')
company_data.columns = ['Code', 'Date', 'Type', 'Amount']
company_data['Date'] = pd.to_datetime(company_data['Date'])
company_data.head()

   Code       Date  Type        Amount
0     1 2008-12-31     1  1.084218e+10
1     1 2008-12-31     2  1.259789e+10
2     1 2008-12-31     3  1.451312e+10
3     1 2008-12-31     4  1.063843e+09
4     1 2008-12-31     5  8.513880e+08

In [4]:
# æ•°æ®æ¸…æ´—
# 1. å°†è´Ÿæ•°å–ç»å¯¹å€¼
company_data['Amount'] = company_data['Amount'].abs()
# 2. å°†ç©ºå€¼åˆ é™¤
company_data = company_data.dropna(how='any', subset=['Amount'])
# 3. å–å‡ºDateåˆ—ä¸­çš„å¹´
company_data['Date'] = company_data['Date'].dt.year

In [5]:
company_data.head()

   Code  Date  Type        Amount
0     1  2008     1  1.084218e+10
1     1  2008     2  1.259789e+10
2     1  2008     3  1.451312e+10
3     1  2008     4  1.063843e+09
4     1  2008     5  8.513880e+08

In [6]:
# å¾—åˆ°æ¯”é‡å€¼
company_data['Px'] = company_data.groupby(['Code', 'Date'])['Amount'].apply(lambda x: x/x.sum())

In [7]:
# æ ¹æ®å…¬å¼è®¡ç®—Iå€¼
company_data_tmp = company_data.groupby(['Code', 'Date'])['Px'].agg(lambda x: -sum([p * np.log(p)  for p in x.tolist()])).to_frame()

E:\Learning_Projects\MyPythonProjects\my-team-learning\venv\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in log

E:\Learning_Projects\MyPythonProjects\my-team-learning\venv\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in double_scalars

In [8]:
# å»æ‰ç´¢å¼•ï¼Œå°†Codeæ ¼å¼åŒ–
company_data_tmp = company_data_tmp.reset_index()
company_data_tmp['Code'] = company_data_tmp['Code'].apply(lambda x: '#{0:0>6}'.format(x))
company_data_tmp.head()

      Code  Date        Px
0  #000001  2008  2.125238
1  #000001  2009  1.671752
2  #000001  2010  2.108355
3  #000001  2011  3.155371
4  #000001  2012  2.738493

In [9]:
# è¿›è¡Œè¿æ¥
res = company.merge(company_data_tmp, on=['Code', 'Date'], how='left')
# å°†åˆ—é‡å‘½å
res = res.rename(columns={'Code':'è¯åˆ¸ä»£ç ', 'Date':'æ—¥æœŸ', 'Px':'æ”¶å…¥ç†µæŒ‡æ ‡'})
res.head()

      è¯åˆ¸ä»£ç     æ—¥æœŸ     æ”¶å…¥ç†µæŒ‡æ ‡
0  #000007  2014       NaN
1  #000403  2015  2.790585
2  #000408  2016       NaN
3  #000408  2017       NaN
4  #000426  2015       NaN

In [10]:
# ä¿å­˜æ•°æ®
res.to_csv('../data/task_special/task01/task01_result.csv', index=False)

## ä»»åŠ¡äºŒç»„é˜Ÿå­¦ä¹ ä¿¡æ¯è¡¨çš„å˜æ¢

ã€é¢˜ç›®æè¿°ã€‘  
è¯·æŠŠç»„é˜Ÿå­¦ä¹ çš„é˜Ÿä¼ä¿¡æ¯è¡¨å˜æ¢ä¸ºå¦‚ä¸‹å½¢æ€ï¼Œå…¶ä¸­â€œæ˜¯å¦é˜Ÿé•¿â€ä¸€åˆ—å–1è¡¨ç¤ºé˜Ÿé•¿ï¼Œå¦åˆ™ä¸º0

<img src="../source/_static/ch_special.png" width="40%">

ã€æ•°æ®ä¸‹è½½ã€‘   
é“¾æ¥ï¼šhttps://pan.baidu.com/s/1ses24cTwUCbMx3rvYXaz-Q  
å¯†ç ï¼šiz57

**è§£ç­”ï¼š**

In [11]:
team_data = pd.read_excel('../data/task_special/task02/ç»„é˜Ÿä¿¡æ¯æ±‡æ€»è¡¨ï¼ˆPandasï¼‰.xlsx', engine='openpyxl')

In [12]:
# é€šè¿‡åˆ—ç´¢å¼•å˜æ¢ï¼Œå¾—åˆ°èƒ½ä½¿ç”¨wide_to_longæ–¹æ³•çš„åˆ—ç´¢å¼•æ ¼å¼
def columns_convert(x: str):
    if x.find('é˜Ÿå‘˜') >= 0 and x.find('ç¾¤æ˜µç§°') >= 0 and x.find('.') >= 0:
        return x.split('_')[0] + str(int(x.split('.')[1]) + 1) + '_' + x.split('_')[1].split('.')[0]
    elif x.find('é˜Ÿå‘˜') >= 0 and x.find('ç¾¤æ˜µç§°') >= 0:
        return x.split('_')[0] + '1_' + x.split('_')[1]
    elif x.find(' ç¼–å·') >= 0:
        return x.replace(' ç¼–å·', '_ç¼–å·')
    elif x.find('ç¼–å·') >= 0 > x.find(' '):
        return x.replace('ç¼–å·', '_ç¼–å·')
    else:
        return x

def columns_reverse(x):
    if x.find('_') >= 0:
        return x.split('_')[1] + '_' + x.split('_')[0]
    else:
        return x
        
team_data.columns = team_data.columns.map(columns_convert).map(columns_reverse)

In [13]:
team_data.columns

Index(['æ‰€åœ¨ç¾¤', 'é˜Ÿä¼åç§°', 'ç¼–å·_é˜Ÿé•¿', 'ç¾¤æ˜µç§°_é˜Ÿé•¿', 'ç¼–å·_é˜Ÿå‘˜1', 'ç¾¤æ˜µç§°_é˜Ÿå‘˜1', 'ç¼–å·_é˜Ÿå‘˜2',
       'ç¾¤æ˜µç§°_é˜Ÿå‘˜2', 'ç¼–å·_é˜Ÿå‘˜3', 'ç¾¤æ˜µç§°_é˜Ÿå‘˜3', 'ç¼–å·_é˜Ÿå‘˜4', 'ç¾¤æ˜µç§°_é˜Ÿå‘˜4', 'ç¼–å·_é˜Ÿå‘˜5',
       'ç¾¤æ˜µç§°_é˜Ÿå‘˜5', 'ç¼–å·_é˜Ÿå‘˜6', 'ç¾¤æ˜µç§°_é˜Ÿå‘˜6', 'ç¼–å·_é˜Ÿå‘˜7', 'ç¾¤æ˜µç§°_é˜Ÿå‘˜7', 'ç¼–å·_é˜Ÿå‘˜8',
       'ç¾¤æ˜µç§°_é˜Ÿå‘˜8', 'ç¼–å·_é˜Ÿå‘˜9', 'ç¾¤æ˜µç§°_é˜Ÿå‘˜9', 'ç¼–å·_é˜Ÿå‘˜10', 'ç¾¤æ˜µç§°_é˜Ÿå‘˜10'],
      dtype='object')

In [14]:
# ä½¿ç”¨wide_to_longæ–¹æ³•
res = pd.wide_to_long(team_data,
                stubnames=['ç¾¤æ˜µç§°', 'ç¼–å·'],
                i = ['é˜Ÿä¼åç§°', 'æ‰€åœ¨ç¾¤'],
                j='æ˜¯å¦é˜Ÿé•¿',
                sep='_',
                suffix='.+')
# åˆ é™¤NaNæ•°æ®
res.dropna(inplace=True)

In [15]:
# åˆ é™¤"æ‰€åœ¨ç¾¤â€åˆ—
res = res.droplevel(level=1).reset_index()

In [16]:
# è°ƒæ•´â€œæ˜¯å¦é˜Ÿé•¿â€åˆ—çš„æ•°æ®
res['æ˜¯å¦é˜Ÿé•¿'] = res['æ˜¯å¦é˜Ÿé•¿'].mask(res['æ˜¯å¦é˜Ÿé•¿']=='é˜Ÿé•¿', 1).where(res['æ˜¯å¦é˜Ÿé•¿']=='é˜Ÿé•¿', 0)
# å¹¶å°†â€œç¼–å·â€åˆ—çš„æ•°æ®ç±»å‹è®¾ç½®ä¸ºint64
res['ç¼–å·'] = res['ç¼–å·'].astype(np.int64)

In [17]:
res

       é˜Ÿä¼åç§° æ˜¯å¦é˜Ÿé•¿         ç¾¤æ˜µç§°   ç¼–å·
0    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ    1      å±±æ«å¶çº·é£     5
1    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ    0          è”¡     6
2    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ    0        å®‰æ…•å¸Œ     7
3    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ    0          ä¿¡ä»°    8
4    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ    0    biubiuğŸ™ˆğŸ™ˆ   20
..      ...  ...         ...  ...
141    ä¸ƒæ˜Ÿè”ç›Ÿ    0       Daisy   63
142    ä¸ƒæ˜Ÿè”ç›Ÿ    0  One Better  131
143    ä¸ƒæ˜Ÿè”ç›Ÿ    0        rain  112
144     åº”å¦‚æ˜¯    1         æ€æ— é‚ª   54
145     åº”å¦‚æ˜¯    0    Justzer0   58

[146 rows x 4 columns]

## ä»»åŠ¡ä¸‰ ç¾å›½å¤§é€‰æŠ•ç¥¨æƒ…å†µ

ã€é¢˜ç›®æè¿°ã€‘  
ä¸¤å¼ æ•°æ®è¡¨ä¸­åˆ†åˆ«ç»™å‡ºäº†ç¾å›½å„å¿ï¼ˆcountyï¼‰çš„äººå£æ•°ä»¥åŠå¤§é€‰çš„æŠ•ç¥¨æƒ…å†µï¼Œè¯·è§£å†³ä»¥ä¸‹é—®é¢˜ï¼š
- æœ‰å¤šå°‘å¿æ»¡è¶³æ€»æŠ•ç¥¨æ•°è¶…è¿‡å¿äººå£æ•°çš„ä¸€åŠ
- æŠŠå·ï¼ˆstateï¼‰ä½œä¸ºè¡Œç´¢å¼•ï¼ŒæŠŠæŠ•ç¥¨å€™é€‰äººä½œä¸ºåˆ—åï¼Œåˆ—åçš„é¡ºåºæŒ‰ç…§å€™é€‰äººåœ¨å…¨ç¾çš„æ€»ç¥¨æ•°ç”±é«˜åˆ°ä½æ’åºï¼Œè¡Œåˆ—å¯¹åº”çš„å…ƒç´ ä¸ºè¯¥å€™é€‰äººåœ¨è¯¥å·è·å¾—çš„æ€»ç¥¨æ•°

    \# æ­¤å¤„æ˜¯ä¸€ä¸ªæ ·ä¾‹ï¼Œå®é™…çš„å·æˆ–äººåç”¨åŸè¡¨çš„è‹±è¯­ä»£æ›¿

||æ‹œç™»|å·æ™®|
|---|---|---|
|å¨æ–¯åº·æ˜Ÿå·|2|1|
|å¾·å…‹è¨æ–¯å·|3|4|

- æ¯ä¸€ä¸ªå·ä¸‹è®¾è‹¥å¹²å¿ï¼Œå®šä¹‰æ‹œç™»åœ¨è¯¥å¿çš„å¾—ç¥¨ç‡å‡å»å·æ™®åœ¨è¯¥å¿çš„å¾—ç¥¨ç‡ä¸ºè¯¥å¿çš„BTæŒ‡æ ‡ï¼Œè‹¥æŸä¸ªå·æ‰€æœ‰å¿BTæŒ‡æ ‡çš„ä¸­ä½æ•°å¤§äº0ï¼Œåˆ™ç§°è¯¥å·ä¸ºBiden Stateï¼Œè¯·æ‰¾å‡ºæ‰€æœ‰çš„Biden State

ã€æ•°æ®ä¸‹è½½ã€‘  
é“¾æ¥ï¼šhttps://pan.baidu.com/s/182rr3CpstVux2CFdFd_Pcg  
æå–ç ï¼šq674

**è§£ç­”ï¼š**

**ç¬¬1é—®ï¼šæœ‰å¤šå°‘å¿æ»¡è¶³æ€»æŠ•ç¥¨æ•°è¶…è¿‡å¿äººå£æ•°çš„ä¸€åŠï¼Ÿ**

In [18]:
# è¯»å–county_population.csv
county_population = pd.read_csv('../data/task_special/task03/county_population.csv')
# åˆ†éš”US Countyåˆ—
county_population['county'], county_population['state'] = county_population['US County'].str.split(',.', 1).str
county_population['county'] = county_population['county'].str[1:]
# åˆ é™¤US Countyåˆ—
county_population = county_population.drop(columns='US County')
county_population.head()

E:\Learning_Projects\MyPythonProjects\my-team-learning\venv\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  after removing the cwd from sys.path.

   Population          county    state
0       55869  Autauga County  Alabama
1      223234  Baldwin County  Alabama
2       24686  Barbour County  Alabama
3       22394     Bibb County  Alabama
4       57826   Blount County  Alabama

In [19]:
# è¯»å–president_county_candidate.csv
president_county_candidate = pd.read_csv('../data/task_special/task03/president_county_candidate.csv', 
                                         usecols=['state', 'county', 'candidate', 'total_votes'])
president_county_candidate.head()

      state             county      candidate  total_votes
0  Delaware        Kent County      Joe Biden        44552
1  Delaware        Kent County   Donald Trump        41009
2  Delaware        Kent County   Jo Jorgensen         1044
3  Delaware        Kent County  Howie Hawkins          420
4  Delaware  New Castle County      Joe Biden       195034

In [20]:
# æ±‚å‡ºæ¯å·å¿çš„æŠ•ç¥¨æ•°
president_county_total_votes = president_county_candidate.groupby(['state', 'county'])['total_votes'].sum().to_frame()

In [21]:
# å°†æŠ•ç¥¨æ•°ä¸äººå£æ•°è¿æ¥
county = county_population.merge(president_county_total_votes, on=['state', 'county'], how='left')
county.head()

   Population          county    state  total_votes
0       55869  Autauga County  Alabama      27770.0
1      223234  Baldwin County  Alabama     109679.0
2       24686  Barbour County  Alabama      10518.0
3       22394     Bibb County  Alabama       9595.0
4       57826   Blount County  Alabama      27588.0

In [22]:
# æ±‚æ»¡è¶³æ€»æŠ•ç¥¨æ•°è¶…è¿‡å¿äººå£æ•°çš„ä¸€åŠçš„å¿ä¸ªæ•°
county[county['total_votes'] * 2 > county['Population']].shape[0]

1434

æœ‰1434ä¸ªå¿æ»¡è¶³æ€»æŠ•ç¥¨æ•°è¶…è¿‡å¿äººå£æ•°çš„ä¸€åŠ

**ç¬¬2é—®ï¼šè®¡ç®—å€™é€‰äººåœ¨å„å·çš„æ€»ç¥¨æ•°**

In [23]:
# è®¡ç®—å€™é€‰äººåœ¨å„å·çš„æ€»ç¥¨æ•°
candidate_votes = president_county_candidate.pivot_table(index = 'state', columns = 'candidate', values = 'total_votes', 
                                                         aggfunc = 'sum', margins=True)

In [24]:
# å€™é€‰äººåœ¨å…¨ç¾çš„æ€»ç¥¨æ•°æ’åº
candidate_votes = candidate_votes.sort_values('All', ascending=False, axis=1)

In [25]:
# åˆ é™¤è¾¹é™…ç´¢å¼•
candidate_votes.drop(index='All', columns='All', inplace=True)

In [26]:
# nanå¡«å……0
candidate_votes.fillna(value=0, inplace=True)

In [27]:
# åˆ é™¤å¤šä½™çš„ç´¢å¼•åå’Œåˆ—å
candidate_votes.index.name = ""
candidate_votes.columns.name = ""

In [28]:
candidate_votes

,Joe Biden,Donald Trump,Jo Jorgensen,Howie Hawkins,Write-ins,Rocky De La Fuente,Gloria La Riva,Kanye West,Don Blankenship,Brock Pierce,...,Tom Hoefling,Ricki Sue King,Princess Jacob-Fambro,Blake Huber,Richard Duncan,Joseph Kishore,Jordan Scott,Gary Swing,Keith McCormic,Zachary Scalf
,,,,,,,,,,,,,,,,,,,,,
Alabama,849648.0,1441168.0,25176.0,0.0,7312.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Alaska,153405.0,189892.0,8896.0,0.0,34210.0,318.0,0.0,0.0,1127.0,825.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Arizona,1672143.0,1661686.0,51465.0,0.0,2032.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Arkansas,423932.0,760647.0,13133.0,2980.0,0.0,1321.0,1336.0,4099.0,2108.0,2141.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
California,11109764.0,6005961.0,187885.0,81025.0,80.0,60155.0,51036.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Colorado,1804352.0,1364607.0,52460.0,8986.0,0.0,636.0,1035.0,8089.0,5061.0,572.0,...,0.0,0.0,495.0,355.0,0.0,196.0,175.0,0.0,0.0,0.0
Connecticut,1080680.0,715291.0,20227.0,7538.0,544.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Delaware,296268.0,200603.0,5000.0,2139.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
District of Columbia,317323.0,18586.0,2036.0,1726.0,3137.0,0.0,855.0,0.0,0.0,693.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Florida,5297045.0,5668731.0,70324.0,14721.0,1055.0,5966.0,5712.0,0.0,3902.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Georgia,2473633.0,2461854.0,62229.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Hawaii,366130.0,196864.0,5539.0,3822.0,0.0,0.0,0.0,0.0,931.0,1183.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Idaho,287021.0,554119.0,16404.0,0.0,745.0,1491.0,0.0,3632.0,1886.0,2808.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Illinois,4253153.0,2823926.0,76122.0,36337.0,5405.0,0.0,9423.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Indiana,1242495.0,1729852.0,58900.0,0.0,1951.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Iowa,759061.0,897672.0,19637.0,3075.0,4337.0,1082.0,0.0,3210.0,1707.0,544.0,...,0.0,546.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Kansas,558669.0,758100.0,29797.0,0.0,3001.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Kentucky,772474.0,1326646.0,26234.0,0.0,1332.0,0.0,0.0,6483.0,0.0,3599.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Louisiana,856034.0,1255776.0,21645.0,0.0,0.0,0.0,987.0,4897.0,860.0,749.0,...,668.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Maine,430473.0,359899.0,14005.0,8111.0,81.0,1171.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Maryland,1985023.0,976414.0,33488.0,15799.0,20422.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Massachusetts,2382202.0,1167202.0,47013.0,18658.0,16327.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Michigan,2804040.0,2649852.0,60381.0,13718.0,1090.0,2986.0,0.0,0.0,7235.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Minnesota,1717077.0,1484065.0,34976.0,10033.0,9965.0,5611.0,1210.0,7940.0,0.0,5651.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Mississippi,539398.0,756764.0,8026.0,1498.0,1423.0,0.0,0.0,3657.0,1279.0,659.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Missouri,1253014.0,1718736.0,41205.0,8283.0,805.0,0.0,0.0,0.0,3919.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Montana,244786.0,343602.0,15252.0,0.0,2110.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Nebraska,374583.0,556846.0,20283.0,0.0,4667.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Nevada,703486.0,669890.0,14783.0,0.0,0.0,0.0,0.0,0.0,3138.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
New Hampshire,424921.0,365654.0,13235.0,0.0,620.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
New Jersey,2608335.0,1883274.0,31677.0,14202.0,14881.0,2728.0,2928.0,0.0,2954.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
New Mexico,501614.0,401894.0,12585.0,4426.0,0.0,0.0,1640.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
New York,5244006.0,3250230.0,60369.0,32822.0,3469.0,0.0,0.0,0.0,0.0,22650.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
North Carolina,2684292.0,2758773.0,48678.0,12194.0,13315.0,0.0,0.0,0.0,7549.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
North Dakota,114902.0,235595.0,9393.0,0.0,1929.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ohio,2679165.0,3154834.0,67569.0,18812.0,1822.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Oklahoma,503890.0,1020280.0,24731.0,0.0,0.0,0.0,0.0,5597.0,0.0,2547.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Oregon,1340383.0,958448.0,41582.0,11831.0,17089.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Pennsylvania,3459923.0,3378263.0,79397.0,0.0,7672.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Rhode Island,306210.0,199837.0,5047.0,0.0,2756.0,923.0,843.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
South Carolina,1091541.0,1385103.0,27916.0,6907.0,0.0,1862.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
South Dakota,150471.0,261043.0,11095.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Tennessee,1143913.0,1852948.0,29883.0,4545.0,860.0,1860.0,2303.0,10281.0,5365.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Texas,5259126.0,5890347.0,126243.0,33396.0,8799.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Utah,560282.0,865140.0,38447.0,5053.0,612.0,0.0,1139.0,7213.0,5551.0,2623.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Vermont,242820.0,112704.0,3608.0,1310.0,1942.0,48.0,166.0,1269.0,208.0,100.0,...,0.0,0.0,0.0,54.0,213.0,0.0,0.0,141.0,126.0,29.0
Virginia,2413568.0,1962430.0,64761.0,0.0,19765.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Washington,2369612.0,1584651.0,80500.0,18289.0,27252.0,0.0,4840.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
West Virginia,235984.0,545382.0,10687.0,2599.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wisconsin,1630673.0,1610065.0,38491.0,0.0,7721.0,0.0,0.0,0.0,5144.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wyoming,73491.0,193559.0,5768.0,0.0,1739.0,0.0,0.0,0.0,0.0,2208.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

**ç¬¬3é—®ï¼šæ‰¾å‡ºæ‰€æœ‰çš„Biden State**

In [29]:
# æ‰¾åˆ°Joe Bidenå’ŒDonald Trumpçš„å¾—ç¥¨æ•°æ®
biden_trump_state = president_county_candidate.loc[(president_county_candidate.candidate == 'Joe Biden') | 
                               (president_county_candidate.candidate == 'Donald Trump')]
biden_trump_state.head()

      state             county     candidate  total_votes
0  Delaware        Kent County     Joe Biden        44552
1  Delaware        Kent County  Donald Trump        41009
4  Delaware  New Castle County     Joe Biden       195034
5  Delaware  New Castle County  Donald Trump        88364
8  Delaware      Sussex County  Donald Trump        71230

In [30]:
# è¿›è¡Œå®½è¡¨å˜å½¢
biden_trump_state = biden_trump_state.pivot(index=['state', 'county'], columns='candidate', values='total_votes')
# ç„¶åå°†æŠ•ç¥¨æ€»æ•°è¿›è¡Œå·¦è¿æ¥
biden_trump_state = biden_trump_state.join(president_county_total_votes, how='left')

In [31]:
# è®¡ç®—BTå€¼
biden_trump_state['BT'] = (biden_trump_state['Joe Biden'] - biden_trump_state['Donald Trump'])/biden_trump_state['total_votes']
biden_trump_state.reset_index(inplace=True)

In [32]:
# å¾—åˆ°Biden State
biden_state_series = biden_trump_state.groupby(['state'])['BT'].median()
biden_state_series[biden_state_series > 0].index.tolist()

['California',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Hawaii',
 'Massachusetts',
 'New Jersey',
 'Rhode Island',
 'Vermont']